@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype"), url("../fonts/Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
* {
  padding: 0;
  margin: 0; }

header {
  background-color: #181818;
  padding: 24px 0; }

.container {
  max-width: 1200px;
  margin: auto; }

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center; }

header nav ul {
  display: flex;
  list-style: none; }

header nav ul li {
  margin-left: 32px; }

header nav li a {
  font: 15px/20px "Poppins";
  color: #FFFFFF;
  text-decoration: none; }

header nav ul li:first-of-type {
  margin-right: 24px; }

header nav ul li:first-of-type a {
  font-size: 13px; }

header nav ul li:last-of-type a {
  background: #FFFFFF;
  border-radius: 14px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #000000;
  padding: 11px 20px; }

.section-image {
  background-color: black;
  height: 100vh;
  background-size: cover;
  box-sizing: border-box;
  padding-bottom: 71px;
  background-image: url("../images/image1.jpg");
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end; }

.box-studios {
  max-width: 600px;
  text-align: center; }

.title-photographer {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #C0C0C0; }

.title-studios {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 59px;
  color: #FFFFFF;
  padding-bottom: 18px; }

.text-studios {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0; }

.fixed-information {
  display: flex;
  list-style: none;
  position: absolute;
  bottom: 40px;
  right: 40px; }

.fixed-information li:before {
  content: "";
  display: inline-block;
  background-image: url("../images/icon1.svg");
  width: 16px;
  height: 16px;
  margin-right: 6px;
  position: relative;
  top: 6px; }

.fixed-information li:nth-child(2):before {
  background-image: url("../images/icon2.svg");
  width: 16px; }

.fixed-information li:nth-child(3):before {
  background-image: url("../images/icon3.svg");
  width: 32px; }

.fixed-information li:nth-child(4):before {
  background-image: url("../images/icon5.svg");
  width: 10px; }

.fixed-information li {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  margin-left: 16px; }

.photography {
  background: black;
  padding-bottom: 100px;
  padding-top: 120px; }

.title-product {
  max-width: 600px;
  margin: auto; }
  .title-product h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 15px; }
  .title-product p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0; }

.box-photography {
  background-image: url("../images/image2.jpg");
  max-width: 576px;
  height: 100vh;
  background-repeat: no-repeat;
  max-height: 600px;
  margin-top: 40px;
  margin-bottom: 16px;
  display: flex;
  align-items: flex-end; }
  .box-photography h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 15px; }
  .box-photography p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    padding-bottom: 17px; }
  .box-photography a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    padding: 5px 10px 5px 6px;
    background: #FFFFFF;
    border-radius: 14px;
    text-decoration: none;
    display: inline-flex;
    align-items: center; }
    .box-photography a:before {
      content: "";
      background-color: black;
      width: 32px;
      height: 32px;
      border-radius: 12px;
      margin-right: 6px; }

.product {
  padding-bottom: 30px;
  padding-left: 30px; }

.drone-photography {
  background-image: url("../images/image3.jpg");
  max-width: 576px;
  height: 100vh;
  background-repeat: no-repeat;
  max-height: 600px;
  display: flex;
  align-items: flex-end; }
  .drone-photography h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 15px; }
  .drone-photography p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    padding-bottom: 17px; }
  .drone-photography a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    padding: 5px 10px 5px 6px;
    background: #FFFFFF;
    border-radius: 14px;
    text-decoration: none;
    display: inline-flex;
    align-items: center; }
    .drone-photography a:before {
      content: "";
      background-color: black;
      width: 32px;
      height: 32px;
      border-radius: 12px;
      margin-right: 6px; }

.architecture-photography {
  background-image: url("../images/image4.jpg");
  max-width: 576px;
  height: 100vh;
  background-repeat: no-repeat;
  position: relative;
  max-height: 600px;
  margin-top: 40px;
  margin-bottom: 16px;
  margin-left: 16px;
  display: flex;
  align-items: flex-end; }
  .architecture-photography h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 15px; }
  .architecture-photography p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    padding-bottom: 17px; }
  .architecture-photography a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    padding: 5px 10px 5px 6px;
    background: #FFFFFF;
    border-radius: 14px;
    text-decoration: none;
    display: inline-flex;
    align-items: center; }
    .architecture-photography a:before {
      content: "";
      background-color: black;
      width: 32px;
      height: 32px;
      border-radius: 12px;
      margin-right: 6px; }

.wildlife-photography {
  background-image: url("../images/image5.jpg");
  max-width: 576px;
  height: 100vh;
  background-repeat: no-repeat;
  max-height: 600px;
  margin-left: 16px;
  display: flex;
  align-items: flex-end; }
  .wildlife-photography h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 15px; }
  .wildlife-photography p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    padding-bottom: 17px; }
  .wildlife-photography a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    padding: 5px 10px 5px 6px;
    background: #FFFFFF;
    border-radius: 14px;
    text-decoration: none;
    display: inline-flex;
    align-items: center; }
    .wildlife-photography a:before {
      content: "";
      background-color: black;
      width: 32px;
      height: 32px;
      border-radius: 12px;
      margin-right: 6px; }

.flex {
  display: flex;
  justify-content: center; }

.section-clients {
  background-color: black;
  padding-top: 120px;
  padding-bottom: 100px; }

.box-past-clients {
  max-width: 1200px;
  margin: auto;
  text-align: center; }

.box-title {
  margin: auto;
  padding-bottom: 40px; }

.title-clients {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 15px; }

.text-companies {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #C0C0C0; }

.box-image-company {
  max-width: 1168px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px; }

.section-need-help {
  background-color: #000000;
  padding-top: 120px;
  padding-bottom: 108px; }

.box-help-photo {
  margin: auto;
  text-align: center; }

.title-help-photo {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 15px; }

.text-we-are-here {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #C0C0C0;
  padding-bottom: 22px; }

.communication-button {
  display: inline-flex;
  background: #FFFFFF;
  border-radius: 14px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #000000;
  padding: 5px 10px 5px 4px;
  text-decoration: none;
  align-items: center; }

.communication-button:before {
  content: "";
  background-color: black;
  width: 32px;
  height: 32px;
  margin-right: 6px;
  border-radius: 13px; }

.portfolio {
  background-image: url("../images/IMAGE10.jpg");
  min-height: 600px;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.portfolio .sub-container {
  max-width: 298px;
  margin-right: 52px; }

.portfolio .sub-container h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF; }

.portfolio .sub-container p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0; }

.tools {
  background-color: black;
  position: relative;
  min-height: 540px; }

.box-tools {
  max-width: 600px;
  margin-left: 60px;
  padding-top: 113px; }
  .box-tools h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 6px;
    padding-top: 60px;
    padding-left: 40px; }
  .box-tools h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
    padding-bottom: 14px;
    padding-left: 40px; }
  .box-tools p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding-bottom: 20px;
    padding-left: 40px; }
  .box-tools a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 14px;
    text-decoration: none;
    margin-bottom: 40px;
    padding: 5px 10px 5px 4px;
    display: inline-flex;
    align-items: center;
    margin-left: 40px; }
    .box-tools a:before {
      content: "";
      width: 32px;
      height: 32px;
      background-color: black;
      border-radius: 10px;
      margin-right: 6px; }

.image {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  min-height: 540px;
  background-size: cover;
  background-image: url("../images/image-photo.jpg"); }

.costa-rica {
  background-image: url("../images/costa-rica.jpg");
  min-height: 600px;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative; }

.box-leafs {
  max-width: 273px;
  margin-right: 87px; }
  .box-leafs h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF; }
  .box-leafs p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0; }

.owl-dots .owl-dot span {
  width: 20px;
  height: 20px;
  background: white;
  display: inline-block;
  border-radius: 20px;
  margin-top: 25px;
  margin-right: 15px; }

.owl-dot.active {
  opacity: 0.3; }

.overlay-slide-down {
  transition: all .4s ease-in-out;
  transform: translateY(0); }

.overlay-slide-up {
  transition: all .8s ease-in-out;
  transform: translateY(-100%); }

nav,
nav ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

nav ul li {
  justify-content: center;
  align-items: center; }

nav li a {
  position: relative;
  color: #fff;
  font-family: 'Work sans', sans-serif;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  font-size: 0.9rem; }

.slide-in-nav-item {
  animation: slide-in-nav-item 0.4s linear 1 .2s both; }

.slide-in-nav-item-delay-1 {
  animation: slide-in-nav-item 0.4s linear 1 .4s both; }

.slide-in-nav-item-delay-2 {
  animation: slide-in-nav-item 0.4s linear 1 .6s both; }

.slide-in-nav-item-delay-3 {
  animation: slide-in-nav-item 0.4s linear 1 .8s both; }

.slide-in-nav-item-delay-4 {
  animation: slide-in-nav-item 0.4s linear 1 1s both; }

.slide-in-nav-item-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 .5s both; }

.slide-in-nav-item-delay-1-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 .4s both; }

.slide-in-nav-item-delay-2-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 .3s both; }

.slide-in-nav-item-delay-3-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 .2s both; }

.slide-in-nav-item-delay-4-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 both; }

/* ====================================
Burger king
==================================== */
.open-overlay {
  z-index: 100;
  width: 34px;
  display: block;
  cursor: pointer;
  display: none; }

.open-overlay span {
  display: block;
  height: 1px;
  background-color: #fff;
  cursor: pointer;
  margin-top: 8px; }

.animate-top-bar {
  animation: animate-top-bar 0.6s linear 1 both; }

.animate-bottom-bar {
  animation: animate-bottom-bar 0.6s linear 1 both; }

.animate-middle-bar {
  animation: animate-middle-bar 0.6s linear 1 both; }

.animate-out-top-bar {
  animation: animate-out-top-bar 0.6s linear 1 both; }

.animate-out-bottom-bar {
  animation: animate-out-bottom-bar 0.6s linear 1 both; }

.animate-out-middle-bar {
  animation: animate-out-middle-bar 0.6s linear 1 both; }

/* ====================================
Animation keyframes
==================================== */
@keyframes slide-in-nav-item {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes slide-in-nav-item-reverse {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }
@keyframes animate-top-bar {
  0% {
    background-color: #fff; }
  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px); }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #fff; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #29363B; } }
@keyframes animate-bottom-bar {
  0% {
    background-color: #fff; }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px); }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #fff; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #29363B; } }
@keyframes animate-middle-bar {
  0% {
    background-color: #fff; }
  80% {
    background-color: #fff; }
  100% {
    background-color: #29363B; } }
@keyframes animate-out-top-bar {
  0% {
    background-color: #29363B; }
  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px); }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #29363B; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #FFF; } }
@keyframes animate-out-bottom-bar {
  0% {
    background-color: #29363B; }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px); }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #29363B; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #FFF; } }
@keyframes animate-out-middle-bar {
  0% {
    background-color: #29363B; }
  80% {
    background-color: #29363B; }
  100% {
    background-color: #fff; } }

/*# sourceMappingURL=style-pre-proc.css.map */
